.search-bar__wrapper{
  @apply flex items-center
}
.search-bar__input{
  @apply rounded-xl pl-11 pr-4 py-1 text-black outline-none w-full
}
.search-bar__image{
  @apply size-5 absolute left-3 top-1.5
}
.w{
  box-shadow: 0 0 8px #686868;
}

.search-bar__container{
  position: relative;
  width: 500px;
}
.search-bar__input{
  width: 100%;
}