.search-results{
  @apply bg-white text-black mt-2 rounded-xl  max-h-96 overflow-y-auto
}
.search-results__item{
    @apply p-2 hover:bg-gray-200 pl-2
}

.search__wrapper{
  position: relative;
}

.search-results {
  position: absolute;
  width: 400px;

  border-radius: 20px;
}
.search-results__item h2{
  padding: 0 10px;
}
